* {
    box-sizing: border-box;
    font-family: "Clear Sans", "Helvetica Neue", "Arial";
  }
  header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #d3d6da;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  header .title {
    /* font-family: 'nyt-karnakcondensed'; */
    font-weight: 700;
    font-size: 37px;
    /* text-align: center; */
    /* text-align: center; */
  }
  .guess-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    width: 317px;
    height: 378px;
    grid-gap: 5px;
    padding: 10px;
    margin: 5px auto;
  }
  .game-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin: 5px auto;
    margin-top: 20px;
  }
  .tile {
    border: 2px solid #d3d6da;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:fit-content;
      height: fit-content; */
  }
  .row {
    display: flex;
    width: 30em;
    max-width: 100%;
    margin: 0 auto 8px;
  }
  .key {
    height: 53px;
    background-color: #d3d6da;
    border-radius: 4px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0 6px 0 0;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
  }
  .keys {
    width: 40px;
    height: 40px;
    border: 1.8px solid #939597;
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
  }
  .special {
    flex: 1.5;
  }
  .space {
    flex: 0.5;
  }
  #game-box {
    width: 480px;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    margin-top: 50px;
    transition: all 0.6s ease-in-out;
    display: none;
  }
  h1 {
    font-size: 15px;
    margin-left: 180px;
  }
  p {
    font-size: 14px;
  }
  a,
  b {
    font-weight: bold;
    font-size: 14px;
  }
  h2 {
    position: fixed;
    transform: rotate(45deg);
    font-size: 35px;
    margin-left: 465px;
    margin-top: -40px;
    font-weight: lighter;
    cursor: pointer;
  }
  
  .game-keyboard {
    max-width: 100%;
  }
  
  @media (max-width: 500px) {
    .key {
      height:35px;
      width: 30px;
      padding: 0;
      font-size: 12px;
    }
  }
  @media screen and (min-width: 360px) and (max-width: 414px){
      .guess-grid{
          margin-left: 10px;
          margin-top: -10px;
      }
  }
  @media screen and (max-width: 500px) {
    .guess-grid {
      margin-left: 40px;
      margin-top: -10px;
    }
    .tile {
      width: 62px;
      height: 62px;
    }
    header {
      width: 440px;
    }
    #game-box {
      margin-left: 5px;
      margin-top: 0px;
    }
    .game-keyboard {
      margin-top: 45px;
    }
    .row {
      width: 440px;
    }
    .content {
      width: 450px;
    }
    h2 {
      margin-left: 400px;
    }
  }
  @media screen and (min-width: 500px) and (max-width: 540px) {
    #game-box {
      margin-left: 25px;
      margin-top: 0px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 912px) {
    #game-box {
      margin-left: 160px;
      margin-top: 0px;
    }
  }
  @media screen and (min-width: 912px) and (max-width: 1024px) {
    #game-box {
      margin-left: 220px;
      margin-top: 0px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    #game-box {
      margin-left: 280px;
      margin-top: 0px;
    }
  }
  @media screen and (max-width: 480px){
      header{
          width: 390px;
      }
      .title{
          font-size: 16px;
      }
      .guess-grid{
          margin-top: -15px;
          margin-left: 38px;
      }
      .row{
          width: 25em;
      }
      .game-keyboard{
          margin-top: -5px;
          margin-left: -38px;
      }
      #game-box{
          margin-left: 5px;
          margin-top: 0px;
      }
      h2{
          margin-left: 365px;
      }
      h1{
          margin-left: 140px;
      }
  }
  @media screen and (max-width: 500px){
      .guess-grid{
          margin-top: -10px;
      }
      header{
          width: 430px;
      }
      .title{
          font-size: 20px;
          margin-top: -8px;
      }
      .game-keyboard{
          margin-top: 0px;
          margin-left: 4.5px;
      }
      .row{
          width: 27em;
      }
      #game-box{
          margin-left: 5px;
          margin-top: 0px;
      }
      .key{
          width: 38px;
          height: 58px;
      }
      .content{
          width: 400px;
      }
      h2{
          margin-left: 400px;
      }
      h1{
          margin-left: 140px;
      }
  }
  
  @media screen and (min-width: 500px) and (max-width: 540px) {
    #game-box {
      margin-left: 25px;
      margin-top: 0px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 912px) {
    #game-box {
      margin-left: 160px;
      margin-top: 0px;
    }
  }
  @media screen and (min-width: 912px) and (max-width: 1024px) {
    #game-box {
      margin-left: 220px;
      margin-top: 0px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    #game-box {
      margin-left: 280px;
      margin-top: 0px;
    }
  }